/AdrenalineScript Updater.exe
/alguiencerca.txt
/Anti_CAPTCHA [by farmwl]
/arba1.xml
/arba2.xml
/Autobuff2.txt
/Autobuff3.txt
/buffsoso.txt
/camaras.txt
/camraidslows.txt
/CaptchaImg
/CaptchaText
/catafarm2.txt
/Classes
/Configs
/dances.txt
/delubuffs.txt
/Delusion.txt
/DelusionEast.txt
/DelusionLvl.txt
/DeluWestBuffs.txt
/Discord.txt
/Farm 07BD6455.enc
/farm.dll
/farmpole.txt
/followDialog.txt
/followZaken.txt
/forceattack.txt
/ForTheLulz.txt
/GpsEditor.enc
/GpsEditor.exe
/Items
/Leveling
/liza2.txt
/liza3.txt
/lizamid.txt
/Lizard Lucia.txt
/Lizard Luciav2.txt
/lizard.zmap
/lizard2.txt
/Locations
/Lvl 1-80 (interlude)
/MedalChange.txt
/MyScript.txt
/NexTa.ini
/NobleMatsMix.txt
/Others
/PacketUnit.txt
/permahacha.txt
/pk.txt
/pow.txt
/PvP Scripts
/Quests
/Raid Bosses
/rebuff.txt
/rebuffArchers.txt
/RedGems.txt
/rift.txt
/ScriptRecorder
/ScriptsUpdater.exe
/songs.txt
/talis.txt
/Tateos
/TezzaScrolls.txt
/ThreatRemoval.txt
/towns.db3
/Travel
/tt
/tts2
/Unsorted
/Usefull files
/WesDelu.txt
/wildmaguen.txt
/ZeroHour.txt